{% extends '../base.html' %}
{% load static %}

{% block content %}
<br><br>
<center>
  <div style="width: 500px;">
    <form method="POST">
      {% csrf_token %}
      <!-- Username input -->
      <div class="form-outline mb-4">
        <input style="color: white;" name="username" type="username" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Username</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input style="color: white;" name="password" type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <p>Sign in with <a href="{% url 'email_login' %}">Email</a></p>
          </div>
        </div>
    
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
  
    
      <!-- Submit button -->
      <input type="submit" value="Sign in" type="button" class="btn btn-primary btn-block mb-4 form-control"></input>
      <hr>
      <a href="{% url 'user_register' %}" type="button" class="btn btn-primary btn-block mb-4 form-control">Register</a>
    </form>
  </div>
</center>

{% endblock %}