{% extends '../base.html' %}
{% load static %}

{% block content %}
<h1>search box</h1>

{% if searched %}
    <div class="row">
        {% for user in usernames %}
            <div class="col-md-4 mb-4">
                <div style="background-color: black; border-color: rgba(8, 161, 232, 0.784);" class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img style="width: 60px; height: auto;" class="img-thumbnail" src="{{ user.profile.profile_image.url }}" alt="" srcset="">
                                <a href="{% url 'profile' user.username %}">
                                    <p style="margin-left: 12px; margin-bottom: 0"><b>{{ user.first_name }} {{ user.last_name }}</b></p>
                                    <p style="margin-left: 12px; margin-bottom: 0;">{{ user.username }}</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-danger" href="{% url 'directs' user.username %}">chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p style="color: white;">No search performed or no results found.</p>
{% endif %}

{% endblock %}