{% extends './base.html' %}
{% load static %}

{% block content %}
<h1>home page</h1>

<div class="row">
    {% for x in users %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img style="width: 60px; height: auto;" class="img-thumbnail" src="{{ x.profile.profile_image.url }}" alt="" srcset="">
                            <a href="{% url 'profile' x.username %}">
                                <p style="margin-left: 12px;">{{ x.username }}</p>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-outline-danger" href="{% url 'inbox' %}">chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
{% endblock %}
