{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
    th, td {
        color: white;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img style="width: 300px; height: auto;" src="{{ user.profile.profile_image.url }}" alt="" srcset="">
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>@{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{% if user.first_name %}{{ user.first_name }}{% else %}<span style="color: red;">No first name provided</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{% if user.last_name %}{{ user.last_name }}{% else %}<span style="color: red;">No last name provided</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Bio</td>
                        <td>{% if user.bio %}{{ user.bio }}{% else %}<span style="color: red;">No bio provided</span>{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-info form-control" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update
            </button>
            
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div style="background-color: black;" class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="content-section">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form }}
                                {{ profile_form }}
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}