{% extends '../base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img style="width: 300px; height: auto;" src="{{ user.profile.profile_image.url }}" alt="" srcset="">
        </div>
        <div class="col-md-8">
            <h4>username: @{{ user.username }}</h4>
            <h4>first name: {% if user.first_name %}{{ user.first_name }}{% else %}No first name provided{% endif %}</h4>
            <h4>last name: {% if user.last_name %}{{ user.last_name }}{% else %}No last name provided{% endif %}</h4>
            <h4>bio: {% if user.Bio %}{{ user.Bio }}{% else %}No bio provided{% endif %}</h4>

            <a class="btn btn-outline-danger" href="{% url 'directs' user %}">chat</a>
        </div>
    </div>
</div>
{% endblock %}